<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aishang.manager.mapper.CategoryThirdMapper">
    <!--根据二级级类目id查询三级类目集合-->
    <select id="getThirdCategoryByCsid" parameterType="Integer" resultType="CategoryThird">
        select * from category_third where csid=#{csid} order by state desc
    </select>
    <!--根据三级类目id查询二级类目id-->
    <select id="getCsidByCtid" parameterType="Product" resultType="Integer">
        select csid from category_third where ctid=#{ctid}
    </select>
    <!--查询三级类目为？的三级类目总数-->
    <select id="getCountCategorythird" parameterType="Integer" resultType="Integer">
        select count(0) from category_third where csid=#{csid}
    </select>
    <!--添加-->
    <insert id="add" parameterType="CategoryThird">
        insert into category_third values (default,#{ctname},#{state},#{csid})
    </insert>
    <!--验证三级类目名是否可用-->
    <select id="checkCtname" parameterType="String" resultType="Integer">
        select count(0)  from category_third where ctname=#{ctname}
    </select>
    <!--修改-->
    <update id="update" parameterType="CategoryThird">
        update category_third set ctname=#{ctname},state=#{state},csid=#{csid} where ctid=#{ctid}
    </update>
    <!--删除-->
    <delete id="del" parameterType="Integer">
        delete from category_third where ctid=#{ctid}
    </delete>
</mapper>